aws_profile="{{ aws_profile }}"
aws_account="{{ aws_account }}"
aws_region="{{ aws_region }}"
aws_resource_prefix="{{ aws_resource_prefix }}"
s3_bucket="{{ s3_bucket }}"
lambda_wheel_filename="{{ lambda_wheel_filename }}"
lambda_wheel_s3_version="{{ lambda_wheel_s3_version }}"
